
<!--<div class="cards-wrapper">-->
  <!--<div class="item" *ngFor="let item of Data | filter: [{city:selectCity}]">-->
    <!--<div class="item-img" style="background-image: url('../../../assets/imgs/demo-1.jpg');">-->
      <!--<div class="item-city">{{ item.city}} </div>-->
    <!--</div>-->
    <!--<div class="item-content">-->
      <!--<div class="item-ttl">{{ item.name }}</div>-->
    <!--</div>-->
    <!--<div class="item-footer">-->
      <!--<div class="item-category">{{ item.category }}</div>-->
      <!--<div class="item-price">${{ item.price }}</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
