@import "../../../assets/styles/variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-rows: 190px 1fr 190px;
    min-height: 100vh;
}
