@import "fonts.css";
select {
  height: 40px;
  border: 1px solid #dee0e1;
  padding: 0 15px;
  font-family: 'Raleway-M', sans-serif;
  font-size: 15px;
  color: #4c505b;
  width: 100%;
}
.ttl {
  font-size: 18px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #33363e;
}
.category-box {
  margin-bottom: 60px;
}
.checkbox-button {
  position: relative;
  margin-bottom: 16px;
}
.checkbox-button label {
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 15px;
}
.checkbox-button label span {
  font-size: 16px;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: 25px;
}
.checkbox-button label span:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid #1cb8ff;
  background-color: white;
  text-align: center;
}
.checkbox-button label span:before {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(0, -300%);
  content: '\f00c';
  font-family: 'FontAwesome', sans-serif;
  color: #1cb8ff;
  z-index: 2;
}
.checkbox-button input[type=checkbox] {
  cursor: pointer;
  position: relative;
  display: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition: all 0.3s;
  overflow: hidden;
}
.checkbox-button input[type=checkbox]:checked + span:before {
  transform: translate(0, -50%);
}
/*# sourceMappingURL=category.component.css.map */