<aside>
  <div class="category-box">
    <div class="ttl">city</div>
    <select name="city"
            [(ngModel)]="selectCity">
      <option>All</option>
      <option *ngFor="let item of City"
              [value]="item.id">{{item.name}}</option>
    </select>
  </div>

  <div class="category-box">
    <div class="ttl">categories</div>

    <div class="checkbox-button" *ngFor="let category of Category">
      <label>
        <input name="" type="checkbox" value="1" tabindex="0" checked="">
        <span class="link">{{ category.name }}</span>
      </label>
    </div>
  </div>
  <div class="category-box">
    <div class="ttl">price</div>
    <input type="range" multiple min="0" step="50" max="200" data-values="19">
  </div>
  <!--<input multiple type="range" min="0" max="200" [(ngModel)]="selectPrice">-->
</aside>


