@import "../../../assets/styles/variables";

select {
  height: 40px;
  border: 1px solid #dee0e1;
  padding: 0 15px;
  font-family: @RM;
  font-size: 15px;
  color: @g-text;
  width: 100%;
}

.ttl {
  font-size: 18px;
  font-family: @MB;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: @text;
}

.category-box {
  margin-bottom: 60px;

  //label {
  //  display: block;
  //  color: @g-text;
  //  font-size: 15px;
  //  font-family: @RM;
  //
  //  input[type=checbox] {
  //    width: 18px;
  //    height: 18px;
  //    border: 1px solid rgb(28, 184, 255);
  //  }
  //}
}


.checkbox-button {
  position: relative;
  margin-bottom: 16px;

  label {
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 15px;

    span {
      font-size: 16px;
      width: auto;
      height: auto;
      display: inline-block;
      margin-left: 25px;

      &:after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin: 0;
        border: 1px solid @blue;
        background-color: white;
        text-align: center;
      }

      &:before {
        transition: all 0.4s;
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translate(0, -300%);
        content: '\f00c';
        font-family: 'FontAwesome', sans-serif;
        color: @blue;
        z-index: 2;
      }
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    position: relative;
    display: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition: all 0.3s;
    overflow: hidden;
  }

  input[type=checkbox]:checked + span:before {
    transform: translate(0, -50%);
  }
}
