<div class="wrapper-container">
  <aside>
    <form [formGroup]="form"
          (submit)="filter()">
      <div class="category-box">
        <div class="ttl">city</div>
        <select name="city"
                formControlName="city"
                [(ngModel)]="selectCity">
          <option disabled selected>Select city</option>
          <option *ngFor="let item of City"
                  [value]="item.id">{{item.name}}</option>
        </select>
      </div>

      <div class="category-box">
        <div class="ttl">categories</div>
        <div class="checkbox-button" *ngFor="let category of Category">
          <label>
            <input name="{{ category.id }}"
                   type="checkbox"
                   (change)="onCheckChange($event)"
                   [value]="category.id">
            <span class="link">{{ category.name }}</span>
          </label>
        </div>
      </div>

      <div class="category-box">
        <div class="ttl">price</div>
        <range-slider [min]="min1" [max]="max1" [step]="step"
                      formControlName="price"
                      [toolTips]="[false,false]"
                      [(ngModel)]="twoWayRange"
                      [highlightClass]="'stephighlightClass'" [barClass]="'stepBarClass'"
                      [sliderClass]="'stepSliderClass'"></range-slider>
        <div class="range-wrapper">
          <div class="range-result">
            $<span>{{twoWayRange[0]}}</span> - $<span>{{twoWayRange[1]}}</span>
          </div>
          <button type="submit"
                  class="btn">filter</button>
        </div>
      </div>
    </form>
  </aside>

  <div class="container">
    <div class="cards-wrapper">
      <div class="item" *ngFor="let item of Data | category: categories ">
        <div class="item-img" style="background-image: url('../../../assets/imgs/demo-1.jpg');">
          <div class="item-city">City: {{ item.city}} </div>
        </div>
        <div class="item-content">
          <div class="item-ttl">{{ item.name }}</div>
        </div>
        <div class="item-footer">
          <div class="item-category">Category: {{ item.category }}</div>
          <div class="item-price">${{ item.price }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
