@import "fonts.css";
.wrapper-container {
  max-width: 1200px;
  padding: 50px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 60px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .wrapper-container {
    grid-gap: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .wrapper-container {
    grid-template-columns: 200px 1fr;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.ttl {
  font-size: 18px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #33363e;
}
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .cards-wrapper {
    grid-gap: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}
.cards-wrapper .item {
  border: 1px solid #e9e9e9;
  transition: all .4s;
}
.cards-wrapper .item:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.cards-wrapper .item:hover .item-img:before {
  content: '';
  display: block;
  position: absolute;
  transition: all .4s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(28, 184, 255, 0.7);
}
.cards-wrapper .item-img {
  height: 180px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.cards-wrapper .item-city {
  padding: 20px;
  font-family: 'Montserrat-R', sans-serif;
  font-size: 13px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.cards-wrapper .item-content {
  padding: 20px 20px 10px;
}
.cards-wrapper .item-ttl {
  font-family: 'Montserrat-R', sans-serif;
  color: #33363e;
}
.cards-wrapper .item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 30px;
}
.cards-wrapper .item-category {
  font-size: 13px;
  color: #a6a9af;
  font-family: 'Raleway-M', sans-serif;
}
.cards-wrapper .item-price {
  font-family: 'Montserrat-Bold', sans-serif;
}
/*form*/
select {
  height: 40px;
  border: 1px solid #dee0e1;
  padding: 0 15px;
  font-family: 'Raleway-M', sans-serif;
  font-size: 15px;
  color: #4c505b;
  width: 100%;
}
.category-box {
  margin-bottom: 60px;
}
@media only screen and (max-width: 480px) {
  .category-box {
    margin-bottom: 30px;
  }
}
.checkbox-button {
  position: relative;
  margin-bottom: 16px;
}
.checkbox-button label {
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: 'Raleway-M', sans-serif;
  font-size: 15px;
  color: #4c505b;
}
.checkbox-button label span {
  font-size: 16px;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: 25px;
}
.checkbox-button label span:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid #1cb8ff;
  background-color: white;
  text-align: center;
}
.checkbox-button label span:before {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(0, -300%);
  content: '\f00c';
  font-family: 'FontAwesome', sans-serif;
  color: #1cb8ff;
  z-index: 2;
}
.checkbox-button input[type=checkbox] {
  cursor: pointer;
  position: relative;
  display: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition: all 0.3s;
  overflow: hidden;
}
.checkbox-button input[type=checkbox]:checked + span:before {
  transform: translate(0, -50%);
}
.range-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-result {
  font-family: 'Montserrat-R', sans-serif;
  font-size: 16px;
  color: #33363e;
}
.btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'Montserrat-R', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background: #1cb8ff;
  border: 2px solid #1cb8ff;
  transition: all .4s;
  cursor: pointer;
}
.btn:hover {
  background: #fff;
  color: #1cb8ff;
  box-shadow: 2px 2px 5px rgba(28, 184, 255, 0.7);
}
.btn:active {
  box-shadow: 2px 2px 2px rgba(28, 184, 255, 0.7) inset;
}
/*# sourceMappingURL=home.component.css.map */