@import "../../../assets/styles/variables";

.wrapper-container {
  max-width: 1200px;
  padding: 50px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 60px;

  @media @desktop {
    grid-gap: 30px;
  }

  @media @tablet, @mobile {
    grid-template-columns: 200px 1fr;
  }

  @media @mobile-xs {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.ttl {
  font-size: 18px;
  font-family: @MB;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: @text;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  @media @desktop, @tablet, @mobile {
    grid-gap: 15px;
  }

  @media @tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @media @mobile {
    grid-template-columns: 1fr;
  }
  .item {
    border: 1px solid @border;
    transition: all .4s;

    &:hover {
      box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
      cursor: pointer;

      .item-img {
        &:before {
          content: '';
          display: block;
          position: absolute;
          transition: all .4s;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: @hover;
        }
      }
    }

    &-img {
      height: 180px;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: flex-end;
      position: relative;
    }

    &-city {
      padding: 20px;
      font-family: @MR;
      font-size: 13px;
      color: #fff;
      position: relative;
      z-index: 2;
    }

    &-content {
      padding: 20px 20px 10px;
    }

    &-ttl {
      font-family: @MR;
      color: @text;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px 30px;
    }

    &-category {
      font-size: 13px;
      color: #a6a9af;
      font-family: @RM;
    }

    &-price {
      font-family: @MB;
    }
  }
}

/*form*/
select {
  height: 40px;
  border: 1px solid #dee0e1;
  padding: 0 15px;
  font-family: @RM;
  font-size: 15px;
  color: @g-text;
  width: 100%;
}

.category-box {
  margin-bottom: 60px;

  @media @mobile-xs {
    margin-bottom: 30px;
  }
}

.checkbox-button {
  position: relative;
  margin-bottom: 16px;

  label {
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: @RM;
    font-size: 15px;
    color: #4c505b;

    span {
      font-size: 16px;
      width: auto;
      height: auto;
      display: inline-block;
      margin-left: 25px;

      &:after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin: 0;
        border: 1px solid @blue;
        background-color: white;
        text-align: center;
      }

      &:before {
        transition: all 0.4s;
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translate(0, -300%);
        content: '\f00c';
        font-family: 'FontAwesome', sans-serif;
        color: @blue;
        z-index: 2;
      }
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    position: relative;
    display: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition: all 0.3s;
    overflow: hidden;
  }

  input[type=checkbox]:checked + span:before {
    transform: translate(0, -50%);
  }
}


.range-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-result {
  font-family: @MR;
  font-size: 16px;
  color: @text;
}

.btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-family: @MR;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background: @blue;
  border: 2px solid @blue;
  transition: all .4s;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: @blue;
    box-shadow: 2px 2px 5px @hover;
  }

  &:active {
    box-shadow: 2px 2px 2px @hover inset;
  }
}
