html {
  height: 1px;
  min-height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-size: 16px;
}
.stepBarClass {
  width: 90%;
  height: 4px;
  background: #d6d9e1;
  border-radius: 0;
}
.stepSliderClass {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #1CB8FF;
  bottom: -5px !important;
}
.stephighlightClass {
  background: #1CB8FF;
}
.slidersContainer {
  position: relative;
  margin: 20px 0;
}
.dslider {
  position: absolute;
  cursor: pointer;
  bottom: -5px;
}
.minSlider {
  z-index: 1010;
}
.maxSlider {
  z-index: 1015;
}
.sliderHilight {
  position: absolute;
  z-index: 1005;
  height: inherit;
}
.dbarClass {
  width: 100%;
  height: 10px;
  background: #d3d3d3;
}
.dsliderClass {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #4169e1;
}
.dhighlightClass {
  background: #4169e1;
}
.tooltipText {
  text-align: center;
  padding: 5px 0;
  position: absolute;
  bottom: 72%;
  left: 13%;
}
.barClass {
  width: 80%;
  height: 5px;
  background: #d3d3d3;
  border-radius: 5px;
}
.sliderClass {
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #00f;
  bottom: -72% !important;
}
.highlightClass {
  background: #00f;
}
/*# sourceMappingURL=styles.css.map */