@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-R';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-M';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-M';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}
